@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark*));
@theme {
  --color-primary: rgb(220 20 200);
  --color-bg: white;
  --color-text: black;
  --color-muted: rgb(243 244 246);
}

.dark {
  --color-primary: rgb(96 165 250);
  --color-bg: rgb(17 24 39);
  --color-text: white;
  --color-muted: rgb(31 41 55);
}
